<h2>Template</h2>
<hr />
<ul class="list-group">
  <li
    class="list-group-item"
    *ngFor="let menu of templateMenu"
    [routerLink]="menu.route"
    routerLinkActive="active"
  >
    {{ menu.text }}
  </li>
</ul>

<h2 class="mt-4">Reactive</h2>
<hr />
<ul class="list-group">
  <li
    class="list-group-item"
    *ngFor="let menu of reactiveMenu"
    [routerLink]="menu.route"
    routerLinkActive="active"
  >
    {{ menu.text }}
  </li>
</ul>
<h2>Validaciones</h2>
<hr />
<ul class="list-group">
  <li
    class="list-group-item"
    *ngFor="let menu of authMenu"
    [routerLink]="menu.route"
    routerLinkActive="active"
  >
    {{ menu.text }}
  </li>
</ul>
