<h2>Template <strong>Diamicos</strong></h2>
<hr />

<form (ngSubmit)="Save()" #myDynamicForm="ngForm" autocomplete="off">
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input
        class="form-control"
        placeholder="Nombre de la persona"
        ngModel
        name="personName"
        required
      />
      <span class="form-text text-danger" *ngIf="ValidPersonName()"
        >Este campo es requerido</span
      >
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input
          class="form-control"
          placeholder="Agregar favorito"
          [(ngModel)]="newFavorite"
          name="newFavorite"
          required
        />
        <button type="button" class="btn btn-primary" (click)="AddFavorite()">
          Agregar
        </button>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Lista de favoritos</label>
    <div class="col-sm-9">
      <div
        class="input-group mb-2"
        *ngFor="let item of person.favorites; let i = index"
      >
        <input
          class="form-control"
          [(ngModel)]="item.name"
          name="name_{{ i }}"
          required
        />
        <button type="button" class="btn btn-danger" (click)="DropFavorite(i)">
          Eliminar
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button
        type="button"
        class="btn btn btn-outline-secondary"
        [disabled]="myDynamicForm.invalid"
        (click)="Save()"
      >
        Guardar
      </button>
    </div>
  </div>
</form>
